<div class="main-page">
  <div class="navbar">
    <div class="nav-container">
      <div class="col-md-4 offset-md-1">
        <div class="logo-area">
          <a routerLink="">
            <img class="logo" src="animeLogo.jfif" />
          </a>
        </div>
      </div>
      <div class="search-area">
        <input
          class="input"
          type="text"
          placeholder="Search.."
          [(ngModel)]="search"
          (keydown.enter)="searchResults()"
          (input)="searchAnime()"
          id="search"
          autocomplete="off"
        />

        <div class="input search-dropdown" *ngIf="search != ''">
          <ng-container *ngFor="let show of anime?.data; let i = index">
            <ng-container *ngIf="i < 6">
              <a href="{{ show?.url }}">
                <img
                  src="{{ show?.images.jpg.small_image_url }}"
                  style="padding: 10px"
                />
                {{ show?.title }}
              </a>

              <br />
            </ng-container>
          </ng-container>
        </div>
      </div>

      <div class="link-area" *ngIf="user; else not_loggedin">
        <div class="link-border">
          <a class="link-effect" [routerLink]="'/users/' + user.id"
            ><h3>{{ user.username }}</h3></a
          >
          <a class="link-effect" [routerLink]="'/users/' + user.id + '/list'"
            ><h3>List</h3></a
          >
          <a class="link-effect" (click)="logout()"><h3>Logout</h3></a>
        </div>
      </div>

      <ng-template #not_loggedin>
        <div class="link-area">
          <div class="link-border">
            <a class="link-effect" routerLink="/login"
              ><h3>Login/Register</h3></a
            >
          </div>
        </div>
      </ng-template>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
