<ng-container  *ngFor = "let anime of data">
    <div class="animeCard-content">
        <div class = "animeCard">
            <img src="{{anime.data.images.jpg.image_url}}" width="150" style="padding-right: 10px;">
            <div>
                <p>{{anime.data.title}}</p>
                <div class="description">
                    <p >{{anime.data.synopsis}}</p>
                </div>
                
            </div>
            
        </div>
        
    </div>
</ng-container>

<pre>{{ data |json}}</pre>

