<div class="body-area">
  <ng-container *ngFor="let anime of data; let i = index">
    <div class="animeCard-content">
      <div class="animeCard">
        <img
          src="{{ anime.data.images.jpg.image_url }}"
          width="150"
          style="padding-right: 10px"
        />
        <div>
          <p>{{ anime.data.title }}</p>
          <div class="description">
            <span style="white-space: pre-line">
              {{ anime.data.synopsis }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>

<!-- <pre>{{ data |json}}</pre> -->
