<div *ngIf="username; else invalidUser" class="container mt-4 w-100">
  <div class="row">
    <div class="col-auto">
      <h1>{{ username }}'s Anime List</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-auto">
      <img src="" width="100" />
    </div>
    <div class="col-2">
      <div>Title</div>
    </div>
    <div class="col-2">
      <div>Progress</div>
    </div>
    <div class="col-1">
      <div>Score</div>
    </div>
    <div class="col-2">
      <div>Status</div>
    </div>
  </div>

  <div
    *ngFor="let entry of animeList; let i = index"
    id="{{ i }}"
    class="row mb-3 py-2 border border-black rounded align-items-center lead"
    style="background-color: #555dd43a"
  >
    <div class="col-auto">
      <img src="{{ entry.imageUrl }}" width="100px" />
    </div>
    <div class="col-2">
      <div>{{ entry.title }}</div>
    </div>
    <div class="col-2">
      <div>
        <span
          *ngIf="authorized"
          (click)="incrementEpisodesWatched(i)"
          style="cursor: pointer; user-select: none"
          >⬆️</span
        >
        <span>{{ entry.episodesWatched }} / {{ entry.totalEpisodes }}</span>
      </div>
    </div>
    <div class="col-1">
      <div>{{ entry.score }}</div>
    </div>
    <div class="col-2">
      <div>{{ entry.status }}</div>
    </div>
    <!-- Buttons for this list's user-->
    <div *ngIf="authorized" class="col-auto">
      <button class="btn btn-primary" (click)="navigateEditEntry(entry)">
        Edit
      </button>
    </div>
    <div *ngIf="authorized" class="col-auto">
      <button class="btn btn-danger" (click)="deleteEntry(i)">Delete</button>
    </div>
  </div>
</div>

<ng-template #invalidUser>
  <div class="container">
    <div class="row text-center">
      <h1>User Not Found</h1>
    </div>
  </div>
</ng-template>
