<div class="container pt-5">
  <!-- Login form -->
  <div class="row text-center">
    <div class="col">
      <p *ngIf="invalidLogin == true; else valid" class="lead text-danger">
        Invalid Username or Password
      </p>
      <ng-template #valid>
        <p class="lead">Login</p>
      </ng-template>
    </div>
  </div>

  <div class="row text-center">
    <div class="col">
      <input type="text" placeholder="Username" [(ngModel)]="username" />
    </div>
  </div>

  <div class="row text-center">
    <div class="col">
      <input type="password" placeholder="Password" [(ngModel)]="password" />
    </div>
  </div>

  <div class="row text-center">
    <div class="col">
      <button class="btn btn-primary mt-2" (click)="login()">Login</button>
    </div>
  </div>

  <!-- Register button -->
  <hr />
  <div class="row text-center">
    <div class="col">
      <div class="lead">or</div>
    </div>
  </div>
  <div class="row text-center">
    <div class="col">
      <button class="btn btn-primary mt-2" routerLink="/register">
        Register New Account
      </button>
    </div>
  </div>
</div>
