<div class="container pt-5">
  <!-- Login form -->
  <div class="row text-center">
    <div class="col">
      <p *ngIf="invalidLogin == true; else notInvalid" class="lead text-danger">
        Invalid Username or Password
      </p>
      <ng-template #notInvalid>
        <p class="lead">Login</p>
      </ng-template>
    </div>
  </div>

  <div class="row text-center">
    <div class="col">
      <input type="text" [(ngModel)]="username" />
    </div>
  </div>

  <div class="row text-center">
    <div class="col">
      <input type="password" [(ngModel)]="password" />
    </div>
  </div>

  <div class="row text-center">
    <div class="col">
      <button class="btn btn-primary mt-2" (click)="login(username, password)">
        Login
      </button>
    </div>
  </div>

  <!-- Register button-->
  <hr />
  <div class="row text-center">
    <div class="col">
      <div class="lead">or</div>
    </div>
  </div>
  <div class="row text-center">
    <div class="col">
      <button class="btn btn-primary mt-2" routerLink="/register">
        Register Account
      </button>
    </div>
  </div>
</div>
